* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/leaves-pattern.png);
    overflow: scroll;
    font-family: 'PT Serif', serif;
}

header {
    background-color: #ffffff;
}

header h1 {
    width: 190px;
    font-size: 25px;
    background-color: #4aaaa5;
    border-radius: 5px;
    color: white;
    position: relative;
    display: inline;
    padding: 24px 15px;
    top: 24px;
    left: 144px;
    text-align: center;
}

h1:hover {
    color: #4aaaa5;
    background-color: #ffffff;
    transform: scale(1.1);
    transition: all 2s;
}

.topnav {
    overflow: hidden;
    background-color: white;
    width: 1100px;
}
  
.topnav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    right: 50px;
    transition: all 1s;
}
  
.topnav a:hover {
    background-color: #4aaaa5;
    color: black;
    transform: scale(1.1);
}
  
.topnav a.active:hover {
    background-color: #4aaaa5;
    color: #777777;
}

#image1 {
    float: left;
    margin: 10px 20px 0 0;
    transition: 1s;
    box-shadow: 6px 9px 7px 2px darkgrey;
    border-radius: 25px;
}
#image1:hover{
    content: url(../images/coder.jpg);
    height: 200px;
    transform: scale(1.1);
}

#main-bio {
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto 50px auto;
    border: 1px solid #dddddd;
    color: #777777;
    border-radius: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#main-footer {
    background-color: #666666;
    text-align: center;
    color: #eee;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-color: 5px solid #4aaaa5;
}

p {
    font-size: 15px;
    line-height: 28px;
}

.contactme {
    background-color: #ffffff;
    width: 850px;
    _height: 430px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.contactme h2{
    color: #4aaaa5;
}
.row {
    line-height: 28px;
    color: #777777;
}

.btn {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    border-color: #4aaaa5;
    border-radius: 15px;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn:hover{
    background-color: #288f8a;
    border-color: #1d6d69;
    color: #666666;
}

.goback {
    color: #777777;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}
.goback:hover{
    background-color: #4aaaa5;
}
